
      .tu1{
        background-image: url(../img/1.jpg);
        width: 150px;
        height: 150px; 
        border-radius: 50%;
        position:absolute;
        top:80px;
        left:50px;         
  }