.zhizao{
    color:white;
    font-family: "黑体";
    font-size:40px;

}
.HI{

    color:balck;
    font-family: "微软雅黑";
    font-size:200%;
    font-weight:bold;

    width:50%;
}
.canyu{
    color:white;
    font-family: "微软雅黑";
    font-size:30px;
    font-weight:bold;

}
.paiming{
    color:white;
    font-family: "微软雅黑";
    font-size:30px;
    font-weight:bold;
    border: 3px solid lightgoldenrodyellow;
    width: 80px;
    height: 40px;

}
.a{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
    display: inline-block;
    width: 50%;
    }
.s{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

  
    }
.d{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;    
    }
.f{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;
 
    width:10%;  
   }
.g{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;    
    }
.h{
   
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;    
    }
.j{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:50%;    
    }
.k{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:50%;    
    }
.l{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;    
    }
.as{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;   
    }
.ad{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;   
    }
.af{
    color:white;
    font-family: "微软雅黑";
    font-size:20px;

    width:10%;    
    }
    #jishiqi{
        background-color: aqua
    }